</div><!-- id=main -->
<footer class="site">
  <div id="copyright">
    Copyright &copy; 2010 <a href="http://twitter.com/yssk22">Yohei Sasaki</a> All Rights Reserved.
  </div>
  <div id="powered-by">
    Powered by <a href="http://couchdb.apache.org/">Apache CouchDB</a>.
  </div>
</footer>
<script type="text/javascript" src="{{assetPath}}/vendor/jquery-ui/js/jquery-ui-1.7.2.custom.min.js"></script>

<!-- login -->
<form id="login" action="" method="post" style="display:none">
  <fieldset>
    <p class="help">
      Login with your name and password.
    </p>
    <p class="error" style="display:none;">
      Name or password is invalid.
    </p>
    <table>
      <tbody>
        <tr>
          <th><label>Username:</label></th>
          <td><input type="text" name="name" size="24"></td>
        </tr>
        <tr>
          <th><label>Password:</label></th>
          <td><input type="password" name="password" size="24"></td>
        </tr>
      </tbody>
    </table>
    <input type="submit" style="display:none;" />
  </fieldset>
</form>
<!-- end of login -->
</body>
</html>
