<div class="lineup">
  <header>
    <div id="links">
      <a href="{{assetPath}}/_list/schedule/records">Timer Schedule</a>
    </div>
    <form action="" method="GET" id="date-navigator">
      <a href="#" class="prev">
        <img class="icon" 
             src="{{assetPath}}/css/images/control-double-180.png" 
             alt="prev">
      </a>
      <input type="text" id="date" name="date"/>
      <a href="#"  class="next">
        <img class="icon" 
             src="{{assetPath}}/css/images/control-double.png" 
             alt="prev">
      </a>
    </form>
  </header>
